.footer__column-link {
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
  }
.footer__column-link:hover{
  opacity: 70%;
  transition: 0.2s;
}