.feynman__link {
    position: absolute;
    right: 48px;
    color: #2f80ed;
    top: 50%;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
  }
.feynman__link:hover{
    opacity: 70%;
    font-size: 40px;
    transition: 0.2s;
  }