.section-title_theme_dark {
    margin-top: 90px;
    margin-bottom: 0px;
    color: white;
    line-height: 1.15;
    font-size: 60px;
    display: flex;
    align-content: center;
    justify-content: space-around;
  }