.khan__buy-link{
    position: absolute;
    color: #2f80ed;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  }
  .khan__buy-link:hover{
    opacity: 70%;
    font-size: 32px;
    transition: 0.2s;
  }